
<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>关于我们</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="../styles/weui.min.css"/>
        <link rel="stylesheet" href="../styles/auth.min.css">
       <link rel="stylesheet" href="../styles/jquery-weui/dist/lib/weui.min.css">        
        <link rel="stylesheet" href="../styles/jquery-weui/dist/css/jquery-weui.css">
    </head>
    <body>
      <header class="hd">
          <h1 class="page_title">AboutUs</h1>
      </header>
      <article class="weui-article" style="padding-bottom: 0px;"> 
            <section>
                <h2 class="title">项目介绍</h2>
                <section>                    
                    <p>
                        校园快速寻卡服务项目是2016-2017学年汕头大学服务学习公益项目立项活动的获批项目之一，在共青团汕头大学委员会的指导下以及汕头大学青年志愿者协会的协助下进行的项目，旨在为汕头大学师生提供更快更方便的寻卡途径以及一卡通的常用功能。
                    </p>                    
                </section>
                <section>
                    <h2 class="title">项目组成员</h2>
                    <p>
                        15计算机：李康林<br>
                        15计算机：杨志鑫<br>
                        15计算机：王德杰
                    </p>
                </section>
            </section>
        </article>    
        <a href="personal.html" class="weui-btn weui-btn_primary" style="width: 50%;">返回</a>
      <script text="text/javascript" src="../styles/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script text="text/javascript" src="../styles/jquery-weui/dist/js/jquery-weui.js"></script> 
         <div class="weui-msg__extra-area">
            <div class="weui-footer ">
              <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">共青团汕头大学委员会</a>
                <a href="javascript:void(0);" class="weui-footer__link">汕头大学青年志愿者协会</a>
                 </p>
              <p class="weui-footer__text">Copyright © 2016-2017 JMP团队</p>
            </div>
         </div>    
    </body>
</html>