<!--进入页面前事先检测用户是否注册-->
<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>校园一卡通助手</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="../static/styles/weui.min.css"/>
        <link rel="stylesheet" href="../static/styles/auth.min.css">
        <link rel="stylesheet" href="../static/styles/jquery-weui/dist/lib/weui.min.css">        
        <link rel="stylesheet" href="../static/styles/jquery-weui/dist/css/jquery-weui.css">
    </head>
    <body>
         <script text="text/javascript" src="../static/styles/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
        <script text="text/javascript" src="../static/styles/jquery-weui/dist/js/jquery-weui.js"></script>

        <!-- 使用 -->
        <div class="hd">
            <h1 class="page_title">校园一卡通助手</h1>            
        </div>
        <div class="button-sp-area" style="margin-top:  60px;margin-left: 40px;margin-right: 40px;" >
            
            <a href="javascript:;" style="background-color: #10aeff" class="weui-btn  weui-btn_primary" id="lostButton">我丢卡了</a>
            <a href="pickCard"   class="weui-btn weui-btn_primary">我捡卡了</a>
            <a href="personal" class="weui-btn  weui-btn_warn">个人中心</argb(157, 155, 255)>
        </div>
            <div class="weui-footer ">
              <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">共青团汕头大学委员会</a>
                <a href="javascript:void(0);" class="weui-footer__link">汕头大学青年志愿者协会</a>
                 </p>
              <p class="weui-footer__text">Copyright © 2016-2017 JMP团队</p>
            </div>                       
        <script type="text/javascript" src="../static/scripts/basicCheck.js"></script>
    </body>
</html>