
<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>消费记录详情</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="../styles/weui.min.css"/>
        <link rel="stylesheet" href="../styles/auth.min.css">
       <link rel="stylesheet" href="../styles/jquery-weui/dist/lib/weui.min.css">        
        <link rel="stylesheet" href="../styles/jquery-weui/dist/css/jquery-weui.css">
    </head>
    <body>

    <div class='hd'>
      <h1 class="page_title">消费详情</h1>
    </div>
     
        <div class="weui-cells">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p>消费时间</p>
            </div>
            <div class="weui-cell__ft2">消费地点</div>
            <div class="weui-cell__ft2" >金额</div>
          </div>
        </div>
    <!--一天的消费记录-->
        <div class="weui-cells__title">{{日期}}</div>
        <div class="weui-cells">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p>{{分钟}}</p>
            </div>
            <div class="weui-cell__ft2" >{{消费地点}}</div>
            <div class="weui-cell__ft2" >{{消费金额}}</div>
          </div>          
        <div class="weui-cell">
           <div class="weui-cell__bd">
             <p>{{分钟}}</p>
           </div>
           <div class="weui-cell__ft2" >{{消费地点}}</div>
           <div class="weui-cell__ft2" >{{消费金额}}</div>          
        </div>
    </div>

    <div class="weui-cells__title">{{时间}}</div>
        <div class="weui-cells">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p>{{分钟}}</p>
            </div>
            <div class="weui-cell__ft2" >{{消费地点}}</div>
            <div class="weui-cell__ft2" >{{消费金额}}</div>
          </div>
    </div>
         <div class="weui-msg__extra-area">
            <div class="weui-footer ">
              <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">共青团汕头大学委员会</a>
                <a href="javascript:void(0);" class="weui-footer__link">汕头大学青年志愿者协会</a>
                 </p>
              <p class="weui-footer__text">Copyright © 2016-2017 JMP团队</p>
            </div>
         </div>
    <a href="personal.html" class="weui-btn weui-btn_primary" style="margin-top: 10px; width: 50%">返回</a>
      <script text="text/javascript" src="../styles/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script text="text/javascript" src="../styles/jquery-weui/dist/js/jquery-weui.js"></script>         
    </body>
</html>