<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>个人中心</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="../styles/weui.min.css"/>
        <link rel="stylesheet" href="../styles/auth.min.css">
       <link rel="stylesheet" href="../styles/jquery-weui/dist/lib/weui.min.css">        
        <link rel="stylesheet" href="../styles/jquery-weui/dist/css/jquery-weui.css">
    </head>
    <body>
    
        
    <div class="hd">
            <h1 class="page_title">个人中心</h1>            
     </div>

    <div class="weui-grids" style="margin-top: 5%">
          <a href="paymentRecord.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
              <img src="../styles/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui-grid__label">
              消费记录
            </p>
          </a>
          <a href="javascript:;" class="weui-grid js_grid" id="showLostState">
            <div class="weui-grid__icon">
              <img src="../styles/images/icon_nav_special.png" alt="">
            </div>
            <p class="weui-grid__label">
              挂失状态
            </p>   
          </a>
          <a href="pickCard.html" class="weui-grid js_grid" >
            <div class="weui-grid__icon">
              <img src="../styles/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui-grid__label">
              修改拾卡信息
            </p>
          </a>
        <a href="javascript:;" class="weui-grid js_grid" id="changePassword">
            <div class="weui-grid__icon">
              <img src="../styles/images/icon_nav_special.png" alt="">
            </div>
            <p class="weui-grid__label" >
              修改一卡通密码
            </p>
          </a>
        <a href="register.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
              <img src="../styles/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui-grid__label">
              修改注册信息
            </p>
          </a>
          </a>
          <a href="javascript:void(0)" class="weui-grid js_grid" >
            <div class="weui-grid__icon">
              <img src="../styles/images/icon_intro.png" alt="">
            </div>
            <p class="weui-grid__label">
              开发中
            </p>
            <a href="javascript:void(0)" class="weui-grid js_grid" >
            <div class="weui-grid__icon">
              <img src="../styles/images/icon_intro.png" alt="">
            </div>
            <p class="weui-grid__label">
              开发中
            </p>
            <a href="aboutus.html" class="weui-grid js_grid" >
            <div class="weui-grid__icon">
              <img src="../styles/images/aboutus.png" alt="">
            </div>
            <p class="weui-grid__label">
              关于我们
            </p>
          <a href="feedback.html" class="weui-grid js_grid" >
            <div class="weui-grid__icon">
              <img src="../styles/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui-grid__label">
              反馈
            </p>     
          </a>   
    </div>
    <div class="weui-msg__extra-area">
            <div class="weui-footer ">
              <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">共青团汕头大学委员会</a>
                <a href="javascript:void(0);" class="weui-footer__link">汕头大学青年志愿者协会</a>
                 </p>
              <p class="weui-footer__text">Copyright © 2016-2017 JMP团队</p>
         </div>
      </div>
  <script text="text/javascript" src="../styles/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script text="text/javascript" src="../styles/jquery-weui/dist/js/jquery-weui.js"></script>
    <script type="text/javascript" src="../scripts/change.js"></script>
    </body>
</html>