<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>注册</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="../styles/weui.min.css"/>
        <link rel="stylesheet" href="../styles/auth.min.css">
        <link rel="stylesheet" href="../styles/jquery/">
    </head>
    <body>
    <div class="weui-cell__hd" style="margin: 10%">
        <h1 class="page_title">注册</h1>
    </div>
        <div class="weui-cells weui-cells_form" id="form">
            
             <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">学号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" required="required"  type="number" pattern="[0-9]*" placeholder="请输入学号" id="studentNum">
                </div>
            </div>            

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">一卡通号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" required="required"  type="number" pattern="0[0-9]{5}" placeholder="请输入一卡通号" id="cardNum" >
                </div>              
            </div>              

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">一卡通密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" required="required" type="password"  placeholder="请输入一卡通密码" id="password">
                </div>                
            </div>      

        </div>
          <div class="weui-cells__tips" id="help" style="display: none;">一卡通示例：069xxx <br>一卡通密码：默认为身份证后6位,最后一位为x则前移一位
          </div>
        <button type="submit" class="weui-btn weui-btn_primary" style="margin-top: 10%;width: 50%; " onclick="basicCheck()" id="showToast">注册 </button>   
        <div id="toast" style="opacity: 0; display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">已完成</p>
        </div>
    </div> 
     <div class="weui-msg__extra-area">
            <div class="weui-footer ">
              <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">共青团汕头大学委员会</a>
                <a href="javascript:void(0);" class="weui-footer__link">汕头大学青年志愿者协会</a>
                 </p>
              <p class="weui-footer__text">Copyright © 2016-2017 JMP团队</p>
         </div>
        </div>
    </body>
    <script type="text/javascript" src="../scripts/basicCheck.js"></script>
</html>